// h1 {
//   margin: 0;
//   padding: 0;
// }
// html,
// body,
// .app {
//   margin: 0;
//   padding: 0;
//   position: relative;
//   // width: 100%;
//   height: 100vh;
// }
.popup {
  position: fixed;
  // width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: flex;
  // justify-content: space-between;
}
.popup_inner {
  position: absolute;
  height: 69%;
  left: 33%;
  right: 33%;
  top: 33%;
  bottom: 33%;
  margin: auto;
  background: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.closePopup {
  color: #5c5cf6;
  font-size: 2rem;
  padding-top: 0.5rem;
  margin-left: auto;
}
.userPhoto {
  max-height: 100%;
  max-width: 100%;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.username {
  color: black;
}

.photodate {
  color: black;
}
