.card {
  padding: 0.5rem;
  margin: 1rem auto;
  width: 30rem;
  background: #fefefe;
  border-radius: 8px;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__author-container {
    display: flex;
  }
  &__profilePicture {
    margin: 0 0.5rem 0.5rem 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  &__post-author {
    text-decoration: none;
  }
  &__post-date {
    font-size: small;
  }
  &__userPicture {
    max-width: 100%;
    border-radius: 8px;
    margin: 0.5rem 0;
  }
  &__reactions-container {
    display: flex;
    &__like-button {
      color: blue;
      margin-right: 0.5rem;
    }
    &__dislike-button {
      color: red;
    }
  }

  &__comments-container {
    padding: 0.5rem;
    margin-top: 0.5rem;
    max-width: 100%;
    background: #dfdede;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    &__comment {
      display: flex;
      flex-direction: column;
    }
  }
  &__author-comment {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
  }
  &__input-comment {
    width: 90%;
    margin-bottom: 0.5rem;
    height: 1.5rem;
    border-radius: 3px;
    border-style: solid;
  }
  &__post-button {
    width: 15%;
    margin: 0 0 0.5rem 0.5rem;
    height: 2rem;
    background-color: #5c5cf6;
    border-radius: 3px;
    border-style: hidden;
    color: white;
    &:hover {
      background-color: #4646ec;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
}
